.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 77%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 47%
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 38%
    right: 20%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.animation-rotation
  &-1
    animation: rotate 10s linear infinite
    position: absolute
    top: 15%
    right: 72%
  &-2
    animation: rotate 8s linear infinite reverse
    position: absolute
    top: 20%
    right: 37%
  &-3
    animation: rotate 10s linear infinite
    position: absolute
    top: 34%
    right: 13%

@keyframes rotate
  0%
    transform: rotate(0deg)
    
  100%
    transform: rotate(360deg)
    

// COLORES CORTOS
.cp
  color: $color-primario !important

.cs
  color: $color-secundario !important
  
.cac
  color: $color-acento-contenido !important

.cab
  color: $color-acento-botones !important

.ch
  color: $color-sistema-texto !important

.cct
  background-color: #AFE1EE !important

.cft
  background-color: #FFDCAB !important

.cfpc
  background-color: #DEE5E8 !important

.cfct
  background-color: #FEDCAB !important

.cb1
  background-color: #30586C !important

//BORDES
.borde1
  border-width: 4px
  border-style: solid
  border-radius: 20px
  border-color: #30586C

.borde2
  border-width: 4px
  border-style: solid
  border-radius: 20px
  border-color: #FD9A27

.borde3
  border-width: 4px
  border-style: solid
  border-radius: 20px
  border-color: #13697F

.bd1
  border-right: solid 4px #30586C

.bd2
  border-right: solid 4px #FD9A27

.bd3
  border-right: solid 4px #13697F

.slyder-f.mb-5.chevron
  i
    color: #707BA3 !important

.imgsize
  background-size: cover

.linea-tiempo-c__header__btn--right
  background-color: $color-acento-botones

.linea-tiempo-c__header__btn--left
  background-color: $color-acento-botones

.tarjeta--azul
  background-color: rgb(222, 229, 232) !important

.slyder-a__btn--sigt
  background-color: $color-acento-botones

.slyder-a__btn--atrs
  background-color: $color-acento-botones

.tarjeta-flip.tarjeta .tarjeta-flip__contenido, .tarjeta-flip.tarjeta .tarjeta-flip__img
  background-position: center center
  background-size: 90%
  background-repeat: no-repeat

.banner-interno__fondo
    background-position: top !important

.logo-size
  width: 100%
  height: 100%

.img-infografica-b__modal
  background-color: $color-secundario !important

.banner-principal__img
  width: 400px !important
